#Menu {
  padding: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
  border-radius: 10pt;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#boardtitle {
  color: white;
}

#title {
  font-size: 15pt;
  position: relative;
  left: 5px;
}

#search {
  position: relative;
  top: 12px;
}

#find {
  position: relative;
  top: 12px;
}

#newBoard:hover {
  cursor: pointer;
}
